header {
    width: 100%;
    display: flex;
}

header h3:hover {
    color:#0061a7;
}
div{
    display: flex;
}
#start-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    align-items: center;
}

#high-scores {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    align-items: center;
}
#start-section button {
    background: #54a3f7;
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }
 #question-section {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 #question-section h1 {
    text-align: center;
 }
 #score, #restart {
    display: flex; 
    flex-direction: column;
    align-items: center;
    align-content: center;
 }

 #result {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
 }
  .ansButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
    margin: 5px;
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.ansButton:hover {
	background-color:#0061a7;
}
.ansButton:active {
	position:relative;
	top:1px;
}



ul{
    list-style-type: none;
}

.card {
    background: turquoise;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 40px;
    padding: 20px;
  }

  .float-right {
    float: right;
    margin-left: 25px;
}
.timer {
    margin-left: auto;
}

.restartButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
    margin: 5px;
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	/* display:inline-block; */
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}